/* Cfg. de estilos por etiquetas y/o clases*/ 

/*************************/
/*   ESTILOS GENERALES   */
/*************************/

* {
    margin: 0;
    padding: 0;
}

#bodyProp {
    background-color:#E8EAF6;
    font-family: 'Montserrat',sans-serif;
    margin-left: 50px;
    margin-right: 50px;
    height: 100vh;
}

.indexHeader{
    padding: 10px 0px;
    background-color: #E8EAF6;
    height: 150px;
    text-align: center;
}

.altPagesHeader{
    padding: 20px 0px;
    background-color: #E8EAF6;
    height: 150px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

nav {
    padding: 5px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

main {
    padding-top: 5px;
}

footer {
    height: 200px;
    background-image: radial-gradient(farthest-side, #C5CAE9, #E8EAF6);
    align-items: center;
    padding-top: 55px;
    padding-bottom: 15px;
    text-align: center;
    word-spacing: 2px;
}

/***********************/
/*   MENÚ NAVEGACIÓN   */
/***********************/

#logoHeader {
    width: 140px;
    height: 150px;
}

li a {
    text-decoration: none;
    padding: 5px;
}

.formatoMenuNav {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

ul li a {
    width: 100px;
    height: 55px;
    border-radius: 5px 5px 5px 5px;
    border: solid 1px #3F51B5;
    color: #3F51B5;
    padding: 3px;
    text-decoration: none;
}

ul li a:hover {
    background: #3F51B5;
    color: #FFFFFF;
}

.formatoMenuBloques {
    color: #3F51B5;
    border: solid 1px #3F51B5;
    border-radius: 5px 5px 5px 5px;
    margin: 25px;
}

.formatoMenuBloques:hover {
    background: #3F51B5;
    color: #FFFFFF;
}

section a {
    text-decoration: none;
}

/*************************/
/*   ESTILOS SECCIONES   */ 
/*************************/

#divProp {
    width: 650px;
    height: 650px;
    /*border: dashed 1px;  /*Uso aux para delimitar secciones*/
}

.bloquePrincipal {
    padding: 10px 0px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.imgInicio {
    width: 300px;
    height: 150px;
}

.bloqueSecundario {
    padding: 35px 0px 50px 0px;
}

.bloquePrincipalAP { /*Ordena el inicio de páginas ≠ incio*/
    margin-top: 10px;
}

.bloquesInfoLiga {
    /*border: dashed #FF80AB 1px;*/
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    margin: 10px;
}

.bloqueMultimedia {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.ordenarIframe {
    display: flex;
    flex-flow: column nowrap;
    overflow: auto;
    /*Diseño temporal de fondo hasta poder encontrar la manera de editar colores del Iframe*/
    background-image: linear-gradient(white,lightgrey);
}

.imgSitioCons {
    width: 400px;
    height: 200px;
    padding-bottom: 15px;
}

/*****************************/
/*   ESTILOS FORM CONTACTO   */ 
/*****************************/

#legendProp {
    /*padding-bottom: 10px;*/
    font-size: 15px;
}

input {
    width: 50%;
    margin: 5px;
}

label {
    padding: 5px 5px;
}

select {
    width: 50%;
    margin: 5px;
}

textarea {
    width: 50%;
    margin: 5px;
}

.suscripcionText {
    color: #C6FF00;
    text-align: left;
    width: 50%;
}

.formContacto {
    background-color: #424242;
    color: #C6FF00;
    padding: 5px;
    display: flex;
    flex-flow: column wrap;
}

/************************************/
/*   ESTILOS TÍTULOS Y SUBTÍTULOS   */ 
/************************************/

h1 {
    color: #3F51B5;
}

#bloquesProp {
    width: 200px;
    height: 75px;
    padding: 5px;
    text-decoration: none;
    font-size: 19px;
    font-weight: bold;
}

.subtitulos {
    color: #3F51B5;
    font-family: 'Ubuntu',sans-serif;
    font-size: 22px;
    padding-left: 0px;
}

.subtitulosDos {
    color: #2196F3;
    font-family: 'Ubuntu',sans-serif;
    font-size: 30px;
    text-align: left;
    padding: 10px 0px;
}

.subtitulosTres {
    color: red;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 15px;
    border: solid red 1px;
    padding-left: 0px;
}

.tituloAltPage {
    color: #C6FF00;
    background-color: #424242;
    height: 34px;
    font-size: 17px;
    padding-top: 8px;
    padding-left: 3px;
}

/*********************/
/*   ESTILOS TEXTO   */
/*********************/

p {
    color: #3F51B5;
}

.textoTamañoMedio{
    font-size: 17px;
}

.textoCentrado {
    text-align: center;
}

.textoIzquierda{
    text-align: left;
}

.textoInterlineado{
    line-height: 1.5;
}

.textoJustificado {
    text-align: justify;
}

.textoFooter {
    font-family: 'Libre Barcode 39 Extended Text', cursive;
    font-size: 35px;
    text-align: center;
    color: #3F51B5;
}

.negrita {
    font-weight: bold;
}

.cursiva {
    font-style: italic;
}

.textoEspaciado{
    letter-spacing: 1px;
}

.linksFooter {
    color: #3F51B5;
}

p span a {
    text-decoration: none;
    color: #3F51B5;
}

p span a:hover {
    text-decoration: none;
    border-radius: 5px 5px 5px 5px;
    background: #3F51B5;
    color: #FFFFFF;
}

/**********************/
/*   ESTILOS TABLAS   */
/**********************/

#thProp {
    background-color: #90CAF9;
    border: 1px solid;
    padding: 0px 5px;
}

#tdProp {
    color: #FF4081;
}

#ulSinEstilo {
    list-style-type: none;
}

/******************************/
/*   TRANSF, ANIM. Y TRANS.   */
/******************************/

header a img:hover {
    transform: scale(1.1,1.1);
    transition: 400ms ease;
}

/****************************/
/*   IMPLEMENTACIÓN GRIDS   */
/****************************/

/*---Definición de áreas---*/

header {
    grid-area: encabezado;
}

nav {
    grid-area: menuTemp; 
}

.bloquePrincipal {
    grid-area: intro;
}

.bloqueSecundario {
    grid-area: menuBloques;
}

footer {
    grid-area: piePagina;
}

/*.divisionAux {   /*Línea temporal de referencia para medir el RD
    border: dashed #FF80AB 2px;
}*/

/*.bloquesTablas {
    grid-area: tablas;
}*/

.tablasClasif {
    grid-area: clasif;
}

/*---Grids por áreas---*/

.grid-areas {
    display: grid;
    grid-template-areas:
    "encabezado"
    "menuTemp"
    "intro"
    "menuBloques"
    "piePagina"
    ;
    grid-template-rows: 1fr 25% 2fr 2fr 1fr;
    grid-template-columns: 360px;
}

.grid-areas {
    display: grid;
    grid-template-areas:
    "encabezado"
    "menuTemp"
    "tablas"
    "clasif"
    "piePagina"
    ;
    grid-template-rows: 1fr 25% 2fr 2fr 1fr;
    grid-template-columns: 360px;
}

/*********************/
/*   MEDIA QUERIES   */
/*********************/

/*---Tablet Grid---*/

@media (min-width: 577px) and (max-width: 768px) {
    ul li a {
        width: 100px;
        height: 55px;
        border-radius: 5px 5px 5px 5px;
        border: solid 1px #3F51B5;
        color: #3F51B5;
        padding: 3px;
        text-decoration: none;
    }
}

/*---Desktop Grid---*/

@media (min-width: 769px) and (max-width: 1200px) {
    ul li a {
        width: 100px;
        height: 55px;
        border-radius: 5px 5px 5px 5px;
        border: solid 1px #3F51B5;
        color: #3F51B5;
        padding: 3px;
        text-decoration: none;
    }
    
    .bloquePrincipal {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-content: center;
        align-items: center;
    }
        
    section div img .centrarContenido {
        width: 425px;
        height: 375px;
    }
    
    .textoTamañoMedio{
        font-size: 17px;
    }

    .imgInicio {
        width: 375px;
        height: 175px;
    }

    .ajustarArticulo {
        margin-left: 20px;
    }

    .imgSitioCons {
        width: 650px;
        height: 400px;
    }

    .tituloAltPage {
        color: #C6FF00;
        background-color: #424242;
        height: 50px;
        font-size: 25px;
        padding-top: 10px;
        padding-left: 5px;
    }

    .subtitulos {
        color: #3F51B5;
        font-family: 'Ubuntu',sans-serif;
        font-size: 22px;
        padding-left: 0px;
    }

    .subtitulosDos {
        color: #2196F3;
        font-family: 'Ubuntu',sans-serif;
        font-size: 35px;
        text-align: center;
        padding: 10px 0px;
    }

    .subtitulosTres {
        color: red;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: 19px;
        border: solid red 1px;
        padding-left: 0px;
    }

    .bloquesInfoLiga {
        /*border: dashed #FF80AB 1px;*/
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-content: center;
        align-items: center;
    }

    .ajustarVideo {
        width: 425px;
        height: 375px;
    }

}

@media (min-width: 1201px) {
    ul li a {
        width: 100px;
        height: 55px;
        border-radius: 5px 5px 5px 5px;
        border: solid 1px #3F51B5;
        color: #3F51B5;
        margin: 20px;
        padding: 3px;
        text-decoration: none;
    }
    
    .bloquePrincipal {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-content: center;
        align-items: center;
    }    
    
    .textoTamañoMedio{
        font-size: 22px;
    }

    .imgInicio {
        width: 675px;
        height: 400px;
    }

    .ajustarArticulo {
        margin-left: 20px;
    }

    .imgSitioCons {
        width: 650px;
        height: 400px;
    }

    .tituloAltPage {
        color: #C6FF00;
        background-color: #424242;
        height: 50px;
        font-size: 25px;
        padding-top: 10px;
        padding-left: 5px;
    }

    .subtitulos {
        color: #3F51B5;
        font-family: 'Ubuntu',sans-serif;
        font-size: 26px;
        padding-left: 0px;
    }

    .subtitulosDos {
        color: #2196F3;
        font-family: 'Ubuntu',sans-serif;
        font-size: 35px;
        text-align: center;
        padding: 10px 0px;
    }

    .subtitulosTres {
        color: red;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: 19px;
        border: solid red 1px;
        padding-left: 0px;
    }

    .bloquesInfoLiga {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-content: center;
        align-items: center;
    }

    div iframe {
        width: 650px;
        height: 500px;
    }    
}