// Definición de variables

/*---Paleta de colores---*/

$primaryColor: #3F51B5;
$primaryBackground: #E8EAF6;
$backgroundFooter1: #C5CAE9;
$altBackground: #FFFFFF;
$secondaryColor: #2196F3;
$accentColor: #C6FF00;
$accentBackground: #424242;
$noticeColor: red;

/*---Fuentes---*/

$primaryFont: 'Montserrat', sans-serif;
$secondaryFont: 'Ubuntu',sans-serif;
$footerFont: 'Libre Barcode 39 Extended Text', cursive;

// Estilos para responsive con mobile first aplicado

/*---Tablet Grid---*/

@media (min-width: 577px) and (max-width: 768px) {
    ul {
        li {
            a {
                width: 100px;
                height: 55px;
                border-radius: 5px 5px 5px 5px;
                border: solid 1px $primaryColor;
                color: $primaryColor;
                padding: 3px;
                text-decoration: none;
            }
        }
    }
}

/*---Desktop Grid---*/

@media (min-width: 769px) and (max-width: 1200px) {
    ul {
        li {
            a {
                width: 100px;
                height: 55px;
                border-radius: 5px 5px 5px 5px;
                border: solid 1px $primaryColor;
                color: $primaryColor;
                padding: 3px;
                text-decoration: none;
            }
        }
    }
    
    .bloqueHome {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-content: center;
        align-items: center;

        &__titulo2 {
            color: $primaryColor;
            font-family: $secondaryFont;
            font-size: 22px;
            padding-left: 0px;
        }

        &__img {
            width: 375px;
            height: 175px;
        }

        &__articulo {
            margin-left: 20px;
        }
    }

    .bloqueAP {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-content: center;
        align-items: center;

        &__titulo1 {
            color: $secondaryColor;
            font-family: $secondaryFont;
            font-size: 35px;
            text-align: center;
            padding: 10px 0px;
        }

        &__titulo2 {
            color: $accentColor;
            background-color: $accentBackground;
            height: 50px;
            font-size: 25px;
            padding-top: 10px;
            padding-left: 5px;
        }

        &__titulo3 {
            color: $accentColor;
            background-color: $accentBackground;
            height: 50px;
            font-size: 25px;
            padding-top: 10px;
            padding-left: 5px;
        }

        &__titulo4 {
            color: $primaryColor;
            font-family: $secondaryFont;
            font-size: 27px;
            padding-left: 0px;
        }
    }
        
    .textoTamañoMedio{
        font-size: 17px;
    }

    .sitioCons__img {
        width: 650px;
        height: 400px;
    }

    .sitioCons__texto {
        color: $noticeColor;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: 19px;
        border: solid $noticeColor 1px;
        padding-left: 0px;
    }

    .bloquesInfoLiga {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-content: center;
        align-items: center;
    }

    .ajustarVideo {
        width: 425px;
        height: 375px;
    }

}

@media (min-width: 1201px) {
    ul {
        li {
            a {
                width: 100px;
                height: 55px;
                border-radius: 5px 5px 5px 5px;
                border: solid 1px $primaryColor;
                color: $primaryColor;
                margin: 20px;
                padding: 3px;
                text-decoration: none;
            }
        }
    }

    .bloqueHome {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-content: center;
        align-items: center;

        &__titulo2 {
            color: $primaryColor;
            font-family: $secondaryFont;
            font-size: 32px;
            padding-left: 0px;
        }

        &__img {
            width: 675px;
            height: 400px;
        }

        &__articulo {
            margin-left: 20px;
        }
    }
    
    .bloqueAP {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-content: center;
        align-items: center;

        &__titulo1 {
            color: $secondaryColor;
            font-family: $secondaryFont;
            font-size: 35px;
            text-align: center;
            padding: 10px 0px;
        }

        &__titulo2 {
            color: $accentColor;
            background-color: $accentBackground;
            height: 50px;
            font-size: 25px;
            padding-top: 10px;
            padding-left: 5px;
        }

        &__titulo3 {
            color: $accentColor;
            background-color: $accentBackground;
            height: 50px;
            font-size: 25px;
            padding-top: 10px;
            padding-left: 5px;
        }

        &__titulo4 {
            color: $primaryColor;
            font-family: $secondaryFont;
            font-size: 27px;
            padding-left: 0px;
        }
    }  
    
    .textoTamañoMedio{
        font-size: 22px;
    }

    .sitioCons__img {
        width: 650px;
        height: 400px;
    }

    .sitioCons__texto {
        color: $noticeColor;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: 19px;
        border: solid $noticeColor 1px;
        padding-left: 0px;
    }

    .bloquesInfoLiga {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-content: center;
        align-items: center;
    }

    div {
        iframe {
            width: 650px;
            height: 500px;
        }
    }
}