// Importaciones

/*************************/
/*   ESTILOS GENERALES   */
/*************************/

@import "estructura-gral";

/***********************/
/*   MENÚ NAVEGACIÓN   */
/***********************/

@import "menu-nav";

/*************************/
/*   ESTILOS SECCIONES   */ 
/*************************/

@import "secciones";

/*****************************/
/*   ESTILOS FORM CONTACTO   */ 
/*****************************/

@import "formularios";

/*********************/
/*   MEDIA QUERIES   */
/*********************/

@import "responsive";


// Definición de variables

/*---Paleta de colores---*/

$primaryColor: #3F51B5;
$primaryBackground: #E8EAF6;
$backgroundFooter1: #C5CAE9;
$altBackground: #FFFFFF;
$secondaryColor: #2196F3;
$accentColor: #C6FF00;
$accentBackground: #424242;
$noticeColor: red;

/*---Fuentes---*/

$primaryFont: 'Montserrat', sans-serif;
$secondaryFont: 'Ubuntu',sans-serif;
$footerFont: 'Libre Barcode 39 Extended Text', cursive;


//Estilos varios

/*********************/
/*   ESTILOS TEXTO   */
/*********************/

p {
    color: $primaryColor;
}

.textoTamañoMedio{
    font-size: 17px;
}

.textoCentrado {
    text-align: center;
}

.textoIzquierda{
    text-align: left;
}

.textoInterlineado{
    line-height: 1.5;
}

.textoJustificado {
    text-align: justify;
}

.negrita {
    font-weight: bold;
}

.cursiva {
    font-style: italic;
}

.textoEspaciado{
    letter-spacing: 1px;
}

.linksFooter {
    color: $primaryColor;

    &:hover{
        color: $primaryColor;
    }
}

p {
    span {
        a {
            text-decoration: none;
            color: $primaryColor;
        }
        a:hover {
            text-decoration: none;
            border-radius: 5px 5px 5px 5px;
            background: $primaryColor;
            color: $altBackground;
        }
    }
}

/**********************/
/*   ESTILOS TABLAS   */
/**********************/

#thProp {
    background-color: #90CAF9;
    border: 1px solid;
    padding: 0px 5px;
}

#ulSinEstilo {
    list-style-type: none;
}

/******************************/
/*   TRANSF, ANIM. Y TRANS.   */
/******************************/

header {
    a {
        img:hover {
        transform: scale(1.1,1.1);
        transition: 400ms ease;
        }
    }
}