#Lista de archivos a ser ignorados en la subida a GitHub

#Ignorar archivos (simplemente el nombre del/los archivo/s)

styles.css
git-log_screenshot.png
package-lock.json
package.json

#Ignorar carpetas


#Ignorar subcarpetas

#nombrecarpeta/nosmbresubcarpeta


#Ignorar todos los archivos de la misma extensión 

.rar
#.gif

