#Lista de archivos a ser ignorados en la subida a GitHub

#Ignorar archivos (simplemente el nombre del/los archivo/s)

git-log_screenshot

#Ignorar carpetas


#Ignorar subcarpetas

#nombrecarpeta/nosmbresubcarpeta


#Ignorar todos los archivos de la misma extensión 

.rar
#.gif

